html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*End of Reset*/
:root {
    --color100: #fcfcfd;
    --color200: #f5f5fa;
    --color300: #d6d6e7;
    --color400: #b6b7d5;
    --color500: #9698c3;
    --color600: #777aaf;
    --color700: #5a5e9a;
    --color800: #484c7a;
    --color900: #36395a;
    --color1000: #23263b;
    --color1100: #010419;
    --colorwarn: #fcbc73;
    --sizesm: 2px;
    --sizem: 5px;
    --sizel: 10px;
    --sizexl: 15px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color100) var(--color300);
}

body {
    font-family: monospace;
    background: var(--color1000);
    color: var(--color100);
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

[data-showif] {
    display: none;
}

.edit [data-showif*='edit'] {
    display: block;
}

.view [data-showif*='view'] {
    display: block;
}

.load [data-showif*='load'] {
    display: block;
}

.sidebar {
    height: 100%;
    width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -295px;
    overflow: visible;
    transition: 0.5s;
    background: var(--color700);
}

    .sidebar.open {
        left: 0;
    }


    .sidebar > .toggleBtns > .btn {
        position: absolute;
        margin-top: 10px;
        width: 35px;
        left: 320px;
        border-radius: 0 50px 50px 0;
        padding: var(--sizel);
        text-align: right;
        background: var(--color900);
    }

    .sidebar .btn:nth-child(2) {
        margin-top: 85px;
    }

    .sidebar .btn:nth-child(3) {
        margin-top: 160px;
    }

    .sidebar .btn.active {
        background: var(--color700);
    }

.btn.dk {
    background: var(--color900);
}

.withSub {
    cursor: pointer;
    background: var(--color1000);
    padding: var(--sizexl);
}

.hide {
    display: none;
}

h3.withSub:has(+.collapsible):after {
    content: "-";
    text-align: right;
    display: inline-block;
    float: right;
    padding-right: 5px;
}

h3.withSub:has(+.collapsible.hide):after {
    content: "+";
}

.collapsible {
    transition: all 2s;
    visibility: visible;
    max-height: 1000px;
    overflow: hidden;
}

    .collapsible.hide {
        transition: all 2s;
        visibility: hidden;
        max-height: 0;
    }

    .collapsible > :last-child {
        margin-bottom: var(--sizexl);
    }

    .collapsible > :first-child {
        margin-top: var(--sizexl);
    }

.controls {
    min-width: 200px;
    height: inherit;
    overflow-x: hidden;
    display: none;
    padding: 10px;
}

    .controls.selected {
        display: block;
    }

.drag {
    position: absolute;
    z-index: 9;
    left: -500px;
    width: 230px;
    background-color: var(--color1100);
    border-radius: var(--sizexl);
    padding-bottom: var(--sizexl);
}

    .drag.edit {
        left: calc( 100vw - 230px );
    }

    .drag h2 {
        padding: 10px;
        cursor: move;
        z-index: 10;
    }

.mapfield {
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: relative;
    display: inline-block;
    margin: auto;
}

.sidebar.open ~ .mapfield {
    margin-left: 325px;
    width: calc(100% - 325px);
}

.mapfield .zoomable {
    position: absolute;
    display: inline-block;
    transform-style: preserve-3d;
    transform-origin: top left;
    top: 100px;
    left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.field {
    padding: 0;
    border: 1px solid var(--color700);
    border-left: 0;
    border-right: 0;
}

label {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    margin-top: var(--sizem);
}

.text_act {
    color: var(--color300);
    background: var(--color900);
    padding: 2px 5px;
    border-radius: 5px;
}

.zoom {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    line-height: 31px;
}

    .zoom.reset {
        bottom: 55px;
    }

    .zoom.in {
        bottom: 100px;
    }

input:not([type="radio"]):not([type="checkbox"]) {
    font-size: inherit;
    border-radius: var(--sizem);
    line-height: 1.5;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 1px solid var(--color400);
    color: var(--color500);
    background: var(--color200);
    display: block;
    width: calc(100% - (2*var(--sizem)));
    padding: var(--sizem);
    margin-top: var(--sizesm);
    outline: none;
}

input:hover {
    border-color: var(--color500);
}

input:focus {
    border-color: var(--color900);
    background: var(--color100);
}

input[type='radio']:after {
    width: var(--sizel);
    height: var(--sizel);
    border-radius: var(--sizel);
    background-color: var(--color200);
    content: '';
    border: 2px solid var(--color600);
    display: inline-block;
    transition: background-color .17s ease, color .17s ease;
}

input[type='radio']:checked:after {
    background-color: var(--color600);
    border: 2px solid var(--color200);
}

input.warning {
    background-color: var(--colorwarn) !important;
}

.toggle_btn {
    border: 1px solid var(--color900);
    display: inline-block;
    padding: 1px 5px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}

input[type=radio].toggle {
    display: none;
}

    input[type=radio].toggle + label {
        cursor: pointer;
        min-width: 50px;
    }

        input[type=radio].toggle + label:hover {
            background: none;
            color: var(--color900);
        }

        input[type=radio].toggle + label:after {
            background: var(--color900);
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
        }

    input[type=radio].toggle.toggle_left + label {
        border-right: 0;
    }

        input[type=radio].toggle.toggle_left + label:after {
            left: 100%;
        }

    input[type=radio].toggle.toggle_right + label:after {
        left: -100%;
    }

    input[type=radio].toggle:checked + label {
        cursor: default;
        color: var(--color100);
        transition: color 200ms;
    }

        input[type=radio].toggle:checked + label:after {
            left: 0;
        }

button {
    display: block;
    outline: none;
    cursor: pointer;
    border-radius: var(--sizesm);
    font-size: inherit;
    font-weight: 500;
    line-height: 2;
    font-family: inherit;
    padding: var(--sizesm) var(--sizexl);
    width: 100%;
    min-height: 32px;
    margin: 0 auto;
    border: none;
    color: var(--color100);
    background-color: var(--color800);
    transition: background-color .17s ease, color .17s ease;
}

    button:hover, button:active, button:focus {
        background-color: var(--color900);
        color: var(--color200);
    }

    button.active {
        background-color: var(--color1000);
        color: var(--color200);
    }

    button[disabled] {
        background: var(--color600);
        cursor: not-allowed;
    }

.btn_group {
    display: grid;
    grid-template:
        "a b c d e" 42px / 2fr 0fr 1fr 0fr 2fr;
    overflow: hidden;
    border-radius: 4px;
}

    .btn_group.two {
        grid-template:
            "a b" 42px / 2fr 2fr;
    }

    .btn_group.five {
        grid-template:
            "a b c d e" 42px / 2fr 0fr 1fr 0fr 2fr;
    }

    .btn_group > button {
        border-radius: 0;
        border: none;
        border-right: 1px solid var(--color600);
        border-bottom: 1px solid var(--color600);
        flex-grow: 1;
    }

        .btn_group > button:last-child {
            border-right: none;
        }

    .btn_group:last-child > button:not(.c) {
        border-bottom: none;
    }

    .btn_group.compass {
        background-color: var(--color600);
    }

    .btn_group :nth-child(1) {
        grid-area: a;
    }

    .btn_group :nth-child(2) {
        grid-area: b;
    }

    .btn_group :nth-child(3) {
        grid-area: c;
    }

    .btn_group :nth-child(4) {
        grid-area: d;
    }

    .btn_group :nth-child(5) {
        grid-area: e;
    }

    .btn_group :nth-child(6) {
        grid-area: f;
    }

    .btn_group.compass.compass_top {
        grid-template:
            "a . c . f" 22px
            "a b c e f" 10px
            "a b d e f" 10px
            ". b d e ." 22px / 2fr 0fr 1fr 0fr 2fr;
        border-radius: 30px 30px 0 0;
    }

    .btn_group.compass.compass_bottom {
        grid-template:
            ". b c e ." 22px
            "a b c e f" 10px
            "a b d e f" 10px
            "a . d . f" 22px / 2fr 0fr 1fr 0fr 2fr;
        border-radius: 0 0 30px 30px;
    }

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .flex.nowrap {
        flex-wrap: nowrap;
    }

        .flex.nowrap > * {
            max-width: 50%;
        }

.w_100 {
    width: 100%;
}

.sheetbtn {
    width: 30%;
}

.small_inner h4 {
    margin-top: 0.8em;
}

.small_inner label {
    font-size: .7em;
    line-height: .8em;
    height: 0.8em;
}

.pull_right {
    text-align: right;
    float: right;
}

.small {
    width: 75px !important;
    display: inline-block !important;
    padding: 0 !important;
}

.choosespriteinfo {
    padding-left: var(--sizem);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color1000);
}

::-webkit-scrollbar-thumb {
    background: var(--color800);
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--color500);
    }


.spritediv {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

    .spritediv canvas {
        flex: 0 0 auto;
        height: 200px;
        margin: 5px;
        background: var(--color500);
    }

.thisspritediv {
    height: 230px;
}

    .thisspritediv .canvas {
        width: fit-content;
        background: var(--color400);
        overflow: visible;
        margin: 0 auto;
    }

        .thisspritediv .canvas:hover {
            z-index: 11;
            position: relative;
        }

        .thisspritediv .canvas canvas {
            max-width: 100%;
        }

        .thisspritediv .canvas:hover canvas {
            max-width: unset;
            width: auto;
        }
